<!DOCTYPE html>
<html lang="en" ng-app='drawchat'>
<head>
  <meta charset="UTF-8">
  <title>Draw Chat</title>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/controllers/drawchat.js"></script>
  <script src="js/app.js"></script>
  <!-- <script src="js/canvas.js"></script> -->
</head>
<body>
  <header>
    <h1>Draw Chat</h1>
  </header>
  <main>
    <div ng-controller='drawchatController as dcCtrl'>

      <!-- <div ng-repeat='draw in dcCtrl.moves' >
        <form ng-submit="dcCtrl.saveObj()">
          <p>moveToX : <input type="text" ng-model='draw.moveToX' /></p>
          <p>moveToY : <input type="text" ng-model='draw.moveToY' /></p>
          <p>1st lineToX : <input type="text" ng-model='draw.lines[0].lineToX' /></p>
          <p>1st lineToY : <input type="text" ng-model='draw.lines[0].lineToY' /></p>
          <p>2nd lineToX : <input type="text" ng-model='draw.lines[1].lineToX' /></p>
          <p>2nd lineToY : <input type="text" ng-model='draw.lines[1].lineToY' /></p>
          <button>Save the Object</button>
        </form>
        <tt>Object = {{draw}}</tt><br/>
      </div> -->
      <input type="text" ng-model='dcCtrl.brush' />
      
      <input type="color" id='color' ng-model='dcCtrl.currentColor'>

      <canvas id="myCanvas" width="1000" height="1000" ng-mousedown="dcCtrl.startPath($event)" ng-mousemove="dcCtrl.drawPath($event)" ng-mouseup="dcCtrl.endPath($event)" ng-mouseleave="dcCtrl.endPath($event)"></canvas>
    </div>
  </main>
</body>
</html>
