
<div ng-controller='drawingsController as drawingsCtrl'>

  <p class="btn" ><a href='#' ng-click="drawingsCtrl.create($event)">Create New</a></p>
  <div ng-repeat='drawing in drawingsCtrl.drawings'>
      <p class="btn" ><a ng-href='#/drawings/{{drawing.id}}'>{{drawing.name}}</a></p>
  </div>
</div>
