<!-- Show Drawing Page -->
<div class='container' ng-controller='drawingController as drawingCtrl'>

  <div class="row col-md-12" >
    <input id='drawingName' type="text" ng-model='drawingCtrl.drawing.name' />
  </div>

  <div class="row">
    <div class="col-md-4"></div>

  </div>
  <div class="row" class='palette'>
    <div class='col-md-4 options'>
      <div id='brushMode'>
        <input type="text" ng-model='drawingCtrl.brush' />
      </div>
      <div>
        <table style="width:100%">
          <tr>
            <td>
              <input type="range" id="myRange" min='1' max='20' ng-model='drawingCtrl.thickness'>
              <p>Thickness: {{drawingCtrl.thickness}}</p>
            </td>
            <td>
              <div id="colorPicker">
                <a class="color"><div class="colorInner"></div></a>
                <div class="track"></div>
                <ul class="dropdown"><li></li></ul>
                <input type="hidden" class="colorInput" ng-value='drawingCtrl.currentColor'/>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-8">
      <div id='actions'>
        <p class='btn' ng-click='drawingCtrl.undoMove()'>Undo Move</p>
        <p class='btn' ng-click='drawingCtrl.clearCanvas()'>Clear Work</p>
        <p class='btn' ng-click='drawingCtrl.redoMove()'>Redo Move</p>
      </div>
      <canvas id="myCanvas" width="600" height="500" ng-mousedown="drawingCtrl.startPath($event)" ng-mousemove="drawingCtrl.drawPath($event)" ng-mouseup="drawingCtrl.endPath($event)" ng-mouseleave="drawingCtrl.endPath($event)"></canvas>
    </div>
  </div>
</div>
