<!DOCTYPE html>
<html ng-app="drawchat">
<head>
  <title>DrawChat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Montez|Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tag %>
</head>
<body>
  <h1 id='header' ><a ng-href="/#/drawings">DrawChat</a></h1>

  <div ng-view>
    <%= yield %>
  </div>

</body>
</html>
